<body>
  <div class="top">
    <div class="right">
      <h1>الوظائف</h1>
      <p>تعديل وظيفة</p>
    </div>
    <div class="left">
      <a routerLink="/apps/jobs/home" class="icon">
        <span>عودة</span>
        <i class="fas fa-chevron-left"></i>
      </a>

    </div>
  </div>
  <div class="middle">
    <form [formGroup]="formData" (ngSubmit)="add()">

      <div class="middle-top">
        <div class="card">
          <p class="text">المسمى الوظيفي:<span style="color: #CA7676;">*</span></p>
          <input type="text" formControlName="position" placeholder="اكتب اسم الخدمة" required>
          <div *ngIf="submitted && formData.controls['position'].errors">
            <p class="invalid" *ngIf="submitted && formData.controls['position'].errors.required">
              الحقل مطلوب!
            </p>
            <p class="invalid" *ngIf="submitted && formData.controls['position'].errors.maxlength">
              العنوان طويل جدا!
            </p>
          </div>
        </div>


        <div class="card">
          <p class="text">المؤهل العلمي:<span style="color: #CA7676;">*</span></p>
          <div class="dropdown">
            <input type="checkbox" id="dropdown-toggle" />
            <label class="dropdown__face" for="dropdown-toggle">
              <span>{{ selectedQualification || 'اختر المؤهل' }}</span>
              <i class="fas fa-chevron-left dropdown__arrow"></i>
            </label>
            <ul class="dropdown__items">
              <li *ngFor="let qualification of qualifications">
                <label>
                  <input type="radio" formControlName="qualification" value="{{ qualification }}"
                    (click)="selectQualification(qualification)" />
                  {{ qualification }}
                </label>
              </li>
            </ul>
          </div>
          <div *ngIf="submitted && formData.controls['qualification'].errors">
            <p class="invalid" *ngIf="submitted && formData.controls['qualification'].errors.required">
              الحقل مطلوب!
            </p>
          </div>
        </div>

        <div class="card">
          <p class="text">سنوات الخبرة المطلوبة:<span style="color: #CA7676;">*</span></p>
          <div class="dropdown">
            <input type="checkbox" id="experienceYear-dropdown-toggle" />
            <label class="dropdown__face" for="experienceYear-dropdown-toggle">
              <span>{{ selectedExperienceYear || 'اختر السنوات' }}</span>
              <i class="fas fa-chevron-left dropdown__arrow"></i>
            </label>
            <ul class="dropdown__items">
              <li *ngFor="let experienceYear of experienceYears">
                <label>
                  <input type="radio" formControlName="qualification" value="{{ experienceYear }}"
                    (click)="selectExperienceYear(experienceYear)" />
                  {{ experienceYear }}
                </label>
              </li>
            </ul>
          </div>
          <div *ngIf="submitted && formData.controls['experienceYear'].errors">
            <p class="invalid" *ngIf="submitted && formData.controls['experienceYear'].errors.required">
              الحقل مطلوب!
            </p>
          </div>
        </div>

        <div class="card">
          <p class="text">الراتب:<span style="color: #CA7676;">*</span></p>
          <input type="text" formControlName="salary" placeholder="اكتب االراتب المعروض" required>
          <div *ngIf="submitted && formData.controls['salary'].errors">
            <p class="invalid" *ngIf="submitted && formData.controls['salary'].errors.required">
              الحقل مطلوب!
            </p>
            <p class="invalid" *ngIf="submitted && formData.controls['salary'].errors.maxlength">
              العنوان طويل جدا!
            </p>
          </div>
        </div>

      </div>


      <p class="text">متطلبات الوظيفة:<span style="color: #CA7676;">*</span> (لا يتعدى ٢٠٠ حرف)</p>
      <textarea class="jobRequirements" type="text" formControlName="jobRequirements"
        placeholder="اكتب متطلبات الوظيفة بشكل بسيط" required></textarea>
      <div *ngIf="submitted && formData.controls['jobRequirements'].errors">
        <p class="invalid" *ngIf=" formData.controls['jobRequirements'].errors.required">
          الحقل مطلوب!</p>
        <p class="invalid" *ngIf="formData.controls['jobRequirements'].errors.maxlength">
          الوصف طويل جدا!</p>
      </div>

      <p class="text">رابط التقديم:<span style="color: #CA7676;">*</span></p>
      <input type="text" formControlName="applicationLink" placeholder="ادخل رابط التقديم للوظيفة" required>
      <div *ngIf="submitted && formData.controls['applicationLink'].errors">
        <p class="invalid" *ngIf="submitted && formData.controls['applicationLink'].errors.required">
          الحقل مطلوب!
        </p>
        <p class="invalid" *ngIf="submitted && formData.controls['applicationLink2'].errors.maxlength">
          العنوان طويل جدا!
        </p>
      </div>

      <div class="butt">
        <button type="submit">إضافة</button>
      </div>
    </form>
  </div>
</body>