<main>
  <h1>الرئيسية</h1>
  <div class="middle">
    <div class="left">
      <button (click)="showSection('one')">النبذة</button>
      <button (click)="showSection('two')">الأهداف</button>
      <button (click)="showSection('three')">الرؤية</button>
    </div>
    <div class="right" *ngIf="currentSection === 'one'">
      <p>نبذة عن الشركة: * (لا يتعدى ١٥٠ كلمة)</p>
      <input placeholder="أكتب نبدة عن الشركة...">
    </div>
    <div class="right" *ngIf="currentSection === 'two'">
      <p>أهدافنا: * (لا يتعدى ١٥٠ كلمة)</p>
      <input placeholder="أكتب أهداف الشركة...">
    </div>
    <div class="right" *ngIf="currentSection === 'three'">
      <p>رؤيتنا: * (لا يتعدى ١٥٠ كلمة)</p>
      <input placeholder="أكتب رؤية الشركة...">
    </div>

  </div>
  <div class="bottom">
    <button>الأخبار</button>
  </div>
</main>