.body{
  .section-one{
    height: 500px;
    background-color: aquamarine;
  }
  .section-two{
    height: 500px;
    background-color: rgb(255, 253, 127);
  }
  .section-three{
    height: 500px;
    background-color: rgb(234, 127, 255);
  }
  .section-four{
    height: 500px;
    background-color: rgb(221, 127, 255);
  }
}
