.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

.all{
  width: 100%;
  display: flex;
  flex-direction: column;
  .section-one{
    background:
    linear-gradient(to bottom, var(--background-color)  0% , rgba(255, 255, 255, 0) 99%) ,
    url("../../../assets/images/top.png");
    background-size: cover;
    background-position: center 40%;;
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30vh;
    padding-left: 40px;
    padding-right: 80px;
    .title{
      font-size: 60px;
      font-weight: bold;
    }
    .empty{
      font-size: 60px;
      color: var(--background-color);
      text-shadow: -1px -1px 0 var(--text-color), 1px -1px 0 var(--text-color), 1px 1px 0 var(--text-color),
    1px 1px 0 var(--text-color);
    }
    h6, .text{
      font-size: 16;
      width: 70%;
    }
    button{
      width: 300px;
      background-color: white;
      color: var(--dark-grey);
      transition: 0.2s all ease-in-out;
    }
    button:hover{
      background-color: var(--prime);
      color: white;
    }
  }
  .section-two{
    height: 600px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .right{
      padding-right: 80px;
      .title{
        font-size: 60px;
        font-weight: bold;
        padding-bottom: 20px;
      }
      .text{
        font-size: 16;
        width: 60%;
        text-align: justify;
        padding-bottom: 20px;

      }
      button{
        width: 300px;
        background-color: var(--prime);
        color: white;
        transition: 0.2s all ease-in-out;
      }
      button:hover{
        background-color: var(--text-color);
        color: white;
      }

    }
    img{
      height: 50vw;
      width: auto;
    }
  }
  .section-three{
    background:
    linear-gradient(to top, var(--background-color-t)  0% , rgba(255, 255, 255, 0) 99%) ,
    url("../../../assets/images/bottom.png");
    background-size: cover;
    background-position: center;
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
      font-size: 60px;
      font-weight: bold;
      padding-bottom: 20px;
      color: white;
    }
    .text{
      font-size: 16;
      width: 70%;
      text-align: justify;
      padding-bottom: 20px;
      color: var(--text-color);
      background-color: var(--background-color);
      padding: 50px;
      border-radius: 20px;
    }
  }
  .section-four {
    padding: 80px;
    .title{
      font-size: 60px;
      font-weight: bold;
      padding-bottom: 20px;
    }

    .carousel-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .custom-slider-main {
      display: flex;
      overflow: hidden;
      scroll-behavior:smooth;
      width: 90%;
      gap: 10px;
      padding: 40px 0px;
    }

    .info-box {
      flex: 0 0 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .info-text {
      position: absolute;
      top: 70px;
      color: #4c4c4c;
      font-size:16px;
      background: rgba(255, 255, 255, 0.5);
      padding: 10px;
    }

    .sub-title{
      font-size: 30px;
    }

    .image-container {
      display: inline-block;
      width: 100%;
    }

    .image-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;
    }
    .info-image {
      width: 100%;
      height: auto;
    }

    .arrow-left,
    .arrow-right {
      font-size: 2rem;
      color:var(--text-color);
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    .arrow-left {
      left: -40px;
    }

    .arrow-right {
      right: -40px;
    }
  }

}

@media (max-width: 900px) {
  .section-one {
    padding-top: 20vh;
    padding-right: 0px;
    .title {
      font-size: 40px;
    }
    h6, .text {
      width: 100%;
    }
  }
  .section-four{
    .custom-slider-main {
      width: 80% !important;
    }

    .info-box {
      flex: 0 0 100% !important;
    }
  }
}

@media (max-width: 600px) {
  .section-one {
    padding-top: 25vh !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;

    .title {
      font-size: 40px !important;
    }
    .empty{
      font-size: 40px !important;

    }
    h6, .text {
      width: 100%;
      font-size: 12px !important;

    }
  }
  .section-two{
    .right{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 !important;
      .title {
        font-size: 40px !important;
      }
      .text{
        font-size: 12px !important;
      }
    }
    img{
      display: none;
    }
  }
  .section-three{
    .title {
      font-size: 40px !important;
    }
    .text{
      padding: 25px !important;
      font-size: 12px !important;
    }
  }
  .section-four{
    .custom-slider-main {
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    .info-box {
      scroll-snap-align: center;
      display: flex !important;
      flex-direction: column-reverse !important;
      align-items: center !important;
    }
    .info-image {
      width: 100% !important;
    }
    .sub-title {
      font-size: 20px !important;
      text-align: center !important;
    }
    .title {
      font-size: 40px !important;
    }
    .custom-slider-main {
      width: 100% !important;
    }
    .info-text{
      position:initial !important ;
      font-size: 12px !important;
    }
  }
}


