<div class="sidebar">
  <div class="account">
    <img [src]="adminImage" alt="Admin">
    <a routerLink="/apps/profile/home">{{adminName}}</a>
  </div>
  <div class="sidebar-header">
    <span class="title">القائمة</span>
  </div>
  <ul class="menu-items">
    <li><a routerLink="/apps/homepage/home" class="first">الرئيسية</a></li>
    <li><a routerLink="/apps/projects/home">المشاريع</a></li>
    <li><a routerLink="/apps/services/home">الخدمات</a></li>
    <li><a routerLink="/apps/contact/home">التواصل</a></li>
    <li><a routerLink="/apps/aboutus/home">من نحن</a></li>
    <li><a routerLink="/apps/partners/home">الشراكات</a></li>
    <li><a routerLink="/apps/jobs/home">الوظائف</a></li>
  </ul>
</div>
