<div class="sidebar">
  <div class="account">
    <img [src]="adminImage" alt="Admin">
    <a>{{adminName}}</a>
  </div>
  <div class="sidebar-header">
    <span class="title">القائمة</span>
  </div>
  <ul class="menu-items">
    <li><a href="apps/home" class="first">الرئيسية</a></li>
    <li><a href="apps/projects">المشاريع</a></li>
    <li><a href="/apps/services">الخدمات</a></li>
    <li><a href="/apps/contact">التواصل</a></li>
    <li><a href="/apps/aboutus">من نحن</a></li>
    <li><a href="/apps/partners">الشراكات</a></li>
    <li><a href="/apps/jobs">الوظائف</a></li>
  </ul>
</div>