<div class="sidebar">
  <div class="account">
    <img [src]="adminImage" alt="Admin">
    <a>{{adminName}}</a>
  </div>
  <div class="sidebar-header">
    <span class="title">القائمة</span>
  </div>
  <ul class="menu-items">
    <li><a href="apps/homepage/home" class="first">الرئيسية</a></li>
    <li><a href="apps/projects/home">المشاريع</a></li>
    <li><a href="apps/services/home">الخدمات</a></li>
    <li><a href="apps/contact/home">التواصل</a></li>
    <li><a href="/apps/aboutus/home">من نحن</a></li>
    <li><a href="apps/partners/home">الشراكات</a></li>
    <li><a href="apps/jobs/home">الوظائف</a></li>
  </ul>
</div>