<div class="all">
  <div class="top">
    <h1>الوظائف</h1>
    <p>{{jobs.length}} وظيفة</p>
  </div>
  <div class="middle">
    <ng-container *ngFor="let item of paginatedServices; let i = index">
      <div class="card" *ngIf="i < 5">
        <h4>{{item.job_position}}</h4>
        <p><span style="color: var(--light-grey); font-weight: bold;">المؤهل العلمي: </span>{{item.job_qualification}}
        </p>
        <p><span style="color: var(--light-grey); font-weight: bold;">سنوات الخبرة: </span>{{item.job_experience}}</p>
        <p><span style="color: var(--light-grey); font-weight: bold;">الراتب: </span>{{item.job_salary}}</p>
        <p>...</p>
        <div class="icons">
          <a  (click)="delete_job(item.job_id)" class="icon">
            <i class="fas fa-trash-alt trash"></i>
            <span>حذف</span>
          </a>
          <a  (click)="update_job(item.job_id)"  class="icon">
            <i class="fas fa-edit edit"></i>
            <span>تعديل</span>
          </a>
        </div>
      </div>
    </ng-container>
    <div class=" add-card" *ngIf="paginatedServices.length < 6">
      <a routerLink="/apps/jobs/add" class="icon">
        <i class="fas fa-plus plus"></i>

      </a>
      <span>إضافة</span>
    </div>
  </div>
  <div class="pagination">
    <span *ngFor="let page of pages; let i = index" class="dot" [class.active]="i === currentPage"
      (click)="goToPage(i)"></span>
  </div>
</div>
