<div class="all">
  <div class="top">
    <div class="right">
      <h1>معلومات الشركة</h1>
    </div>
    <div class="left">
      <a routerLink="/apps/aboutus/home" class="icon">
        <span>عودة</span>
        <i class="fas fa-chevron-left"></i>
      </a>

    </div>
  </div>
  <div class="middle">
    <form [formGroup]="formData" (ngSubmit)="add()">

      <p class="text">نبذة عن الشركة:<span style="color: #CA7676;">*</span> (لا يتعدى ٢٠٠ حرف)</p>
      <textarea type="text" formControlName="about_comany" placeholder="اكتب وصف بسيط عن الخدمة" required></textarea>
      <div *ngIf="submitted && formData.controls['about_comany'].errors">
        <p class="invalid" *ngIf=" formData.controls['about_comany'].errors.required">
          الحقل مطلوب!</p>
        <p class="invalid" *ngIf="formData.controls['about_comany'].errors.maxlength">
          الوصف طويل جدا!</p>
      </div>

      <div class="butt">
        <button type="submit">حفظ</button>
      </div>
    </form>
  </div>
</div>
