<body dir="rtl">

  <div class="top">
    <div class="right">
      <h1>الرسائل</h1>
      <p>{{messages.length}} رسالة</p>
    </div>
    <div class="left">
      <a routerLink="/apps/contact/home" class="icon">
        <span>عودة</span>
        <i class="fas fa-chevron-left"></i>
      </a>
    </div>
  </div>

  <div class="middle">
    <div class="middle-top">
      <p>البحث في الرسائل</p>
      <input type="text" placeholder="بحث" aria-label="بحث" (keyup)="applyFilter()" [(ngModel)]="applyFilterInput" />
    </div>
    <div class="middle-bottom">
      <table mat-table matSort [dataSource]="dataSource" class="styled-table">

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> البريد الإلكتروني للمُرسل</th>
          <td mat-cell *matCellDef="let row">{{ row.email }}</td>
        </ng-container>
        <ng-container matColumnDef="message_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> نوع الرسالة </th>
          <td mat-cell *matCellDef="let row">{{ row.message_type }}</td>
        </ng-container>
        <ng-container matColumnDef="message_content">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> محتوى الرسالة </th>
          <td mat-cell *matCellDef="let row">{{ row.message_content }}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> حذف </th>
          <td class="icon" mat-cell *matCellDef="let row">
            <i class="fas fa-trash delete-icon" (click)="deleteMessage(row)"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rowrow; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator class="custom-paginator" (page)="changePage($event)" [length]="totalData" [pageSizeOptions]="[4]"
        [hidePageSize]="true" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</body>