<body>
  <div class="top">
    <div class="right">
      <h1>حسابي</h1>
    </div>
    <div class="left">
      <a routerLink="/apps/profile/home" class="icon">
        <span>عودة</span>
        <i class="fas fa-chevron-left"></i>
      </a>

    </div>
  </div>
  <div class="middle">
    <form [formGroup]="formData" (ngSubmit)="add()">

      <div class="middle-top">
        <div class="card">
          <p class="text">اسم الموظف:<span style="color: #CA7676;">*</span></p>
          <input type="text" formControlName="name" placeholder="اكتب اسم الموظف" required>
          <div *ngIf="submitted && formData.controls['name'].errors">
            <p class="invalid" *ngIf="submitted && formData.controls['name'].errors.required">
              الحقل مطلوب!
            </p>
            <p class="invalid" *ngIf="submitted && formData.controls['name'].errors.maxlength">
              الاسم طويل جدا!
            </p>
          </div>
        </div>

        <div class="card">

          <div class="group ">
            <a href="mailto:example@example.com" class="contact-item">
              <i class="fas fa-envelope"></i>
            </a>
            <p class="text">البريد الإلكتروني:<span style="color: #CA7676;">*</span></p>
          </div>
          <input type="email" formControlName="email" placeholder="اكتب البريد الإلكتروني" required>
          <div *ngIf="submitted && formData.controls['email'].errors">
            <p class="invalid" *ngIf="submitted && formData.controls['email'].errors.required">
              الحقل مطلوب!
            </p>
            <p class="invalid" *ngIf="submitted && formData.controls['email'].errors.email">
              البريد خاطئ!
            </p>
          </div>
        </div>

        <div class="card">

          <p class="text">المنصب:<span style="color: #CA7676;">*</span></p>
          <input type="text" formControlName="position" placeholder="اكتب اسم الموظف" required>
          <div *ngIf="submitted && formData.controls['position'].errors">
            <p class="invalid" *ngIf="submitted && formData.controls['position'].errors.required">
              الحقل مطلوب!
            </p>
            <p class="invalid" *ngIf="submitted && formData.controls['position'].errors.maxlength">
              المنصب طويل جدا!
            </p>
          </div>
        </div>

        <div class="card">

          <p class="text">تعديل كلمة السر:</p>
          <input type="password" formControlName="password" placeholder="إضافة كلمة سر جديدة" required>
          <div *ngIf="submitted && formData.controls['password'].errors">
            <p class="invalid" *ngIf="formData.controls['password'].errors.minlength">
              يجب أن تتكون كلمة السر من 10 حروف على الأقل!
            </p>
            <p class="invalid" *ngIf="formData.controls['password'].errors.maxlength">
              يجب ألا تتجاوز كلمة السر 12 حرفًا!
            </p>
          </div>
        </div>
      </div>

      <p class="text">صورة شخصية: (يفضل أن تكون مربعة)</p>
      <div class="drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Service Image"
          style="width: 130px; height: 130px; object-fit: cover; padding-bottom: 10px;" />
        <p *ngIf="!imagePreview">اسحب الصورة هنا أو اختر ملف</p>
        <button type="button" (click)="fileInput.click()">اختر ملف</button>
      </div>
      <input type="file" #fileInput (change)="handleImageInput($event)" accept="image/*" hidden>

      <div class="butt">
        <button type="submit">حفظ</button>
      </div>
    </form>
  </div>
</body>