<body>
  <div class="top">
    <div class="right">
      <h1>الخدمات</h1>
      <p>تعديل خدمة</p>
    </div>
    <div class="left">
      <a routerLink="/apps/services/home" class="icon">
        <span>عودة</span>
        <i class="fas fa-chevron-left"></i>
      </a>

    </div>
  </div>
  <div class="middle">
    <form [formGroup]="formData" (ngSubmit)="add()">
      <p class="text">اسم الخدمة:<span style="color: #CA7676;">*</span></p>
      <input type="text" formControlName="title" placeholder="اكتب اسم الخدمة" required>
      <div *ngIf="submitted && formData.controls['title'].errors">
        <p class="invalid" *ngIf="submitted && formData.controls['title'].errors.required">
          الحقل مطلوب!
        </p>
        <p class="invalid" *ngIf="submitted && formData.controls['title'].errors.maxlength">
          العنوان طويل جدا!
        </p>
      </div>

      <p class="text">وصف الخدمة:<span style="color: #CA7676;">*</span> (لا يتعدى ١٥٠ حرف)</p>
      <textarea type="text" formControlName="description" placeholder="اكتب وصف بسيط عن الخدمة" required></textarea>
      <div *ngIf="submitted && formData.controls['description'].errors">
        <p class="invalid" *ngIf=" formData.controls['description'].errors.required">
          الحقل مطلوب!</p>
        <p class="invalid" *ngIf="formData.controls['description'].errors.maxlength">
          الوصف طويل جدا!</p>
      </div>

      <p class="text">صورة للخدمة: <span style="color: #CA7676;">*</span> (يفضل أن تكون صورة أفقية) </p>
      <div class="drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Service Image"
          style="width: 130px; height: 100px; object-fit: cover; padding-bottom: 10px;" />
        <p *ngIf="!imagePreview">اسحب الصورة هنا أو اختر ملف</p>
        <button type="button" (click)="fileInput.click()">اختر ملف</button>
      </div>
      <input type="file" #fileInput (change)="handleImageInput($event)" accept="image/*" hidden>
      <div *ngIf="submitted && formData.controls['image'].errors">
        <p class="invalid" *ngIf="formData.controls['image'].errors.required">الحقل مطلوب!</p>
      </div>

      <div class="butt">
        <button type="submit">حفظ</button>
      </div>
    </form>
  </div>
</body>